html {
	background-color: #000;
	color: #fff;
	font-family: sans-serif;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #111;
	margin: 0 auto;
	width: 100%;
	/* min-height: 100%; */
	height: 100%;
	max-width: 80ch;
	padding-left: 1rem;
	padding-right: 1rem;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

a {
	color: #d161a2;
}

a code {
	font-size: 1rem;
}

em code {
	font-size: 1.1rem;
}

* {
	box-sizing: border-box;
}

h1 {
	margin: 1rem 0;
	font-size: 2.5rem;
}

header {
	position: sticky;
	top: 0;
	border-width: 0;
	border-top: 1rem;
	border-color: #111;
	border-style: solid;
}

footer {
	position: sticky;
	bottom: 0;
	margin-top: auto;
	border-width: 0;
	border-bottom: 1rem;
	border-color: #111;
	border-style: solid;
}

.uwu {
	cursor: pointer;
	text-align: center;
}

.nav-links {
	width: 100%;
	text-align: center;
	display: none;
	margin: 0;
}

.nav-links a {
	display: block;
	text-align: center;
	padding: 10px 0;
	color: #d62e02;
	text-decoration: double 1px #d62e02 underline;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus,
.uwu:hover,
.uwu:focus {
	background-color: #fff;
}

.uwu:hover,
.uwu:focus {
	color: #000;
}

.expanded {
	display: unset;
}

@media screen and (min-width: 636px) {
	.nav-links {
		margin-right: auto;
		display: block;
		position: static;
		width: auto;
		background: none;
		text-align: left;
	}

	.nav-links a {
		display: inline-block;
		padding: 0px 20px;
		text-transform: none;
	}

	.nav-links a:hover,
	.nav-links a:focus {
		background-color: unset;
	}

	.uwu {
		display: none;
	}
}

.tags {
	display: flex;
	flex-wrap: wrap;
}

.tag {
	margin: 0.25em;
	border: dotted 1px #d161a2;
	padding: 0.05em 0.5em;
	font-size: 1.15em;
}

p {
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
}

pre {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

h2 {
	margin-block-end: 0.3em;
}

blockquote {
	color: #bbb;
	border-width: 0;
	border-left: 2px;
	border-color: #bbb;
	border-style: solid;
	margin-left: 1.3rem;
	padding-left: 0.7rem;
}
