---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About This Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<h2><i>I'm stuff</i></h2>

	<p>This blog mostly describes work done by Alisa Feistel (or sometimes just things she finds interesting).</p>
</BaseLayout>
