---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "blog.parrrate";
---

<BaseLayout pageTitle={pageTitle}>
	<h2><code>_ = ::_::&lt;_&gt;::(_: &lbrace;_&rbrace;)</code></h2>
</BaseLayout>
