---
import Navigation from "./Navigation.astro";
import UwU from "./UwU.astro";
---

<header><nav><UwU /><Navigation /></nav></header>

<style>
	header {
		border-bottom: 3px solid #a20160;
		padding-bottom: 3px;
	}
</style>
